<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>what fish are you? | reefly</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <img src="/static/logo.jpg" alt="Reefly Logo" class="logo">
                <li class="item"><a href="/home">home</a></li>
                <li class="item"><a href="/learn">learn</a></li>
                <li class="item"><a href="/quiz">quiz</a></li>
                <li class="item"><a href="/fun" class="active">fun</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2 class="page-heading">what fish are you?</h2>

        </section>
    </main>
    <footer>
        <p>&copy; emily p. '25</p>
    </footer>
    <script src="js/main.js"></script>
</body>
</html>