<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>home | reefly</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <img src="/static/logo.jpg" alt="Reefly Logo" class="logo">
                <li class="item"><a href="#" class="active">home</a></li>
                <li class="item"><a href="learn.html">learn</a></li>
                <li class="item"><a href="quiz.html">quiz</a></li>
                <li class="item"><a href="fun.html">fun</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2 class="page-heading">protecting the reef starts with you</h2>
        <div id="hp-container">
            <a href="/learn" class="hp-button">Learn More</a>
            <a href="/quiz" class="hp-button">Take a Quiz</a>
            <a href="/fun" class="hp-button">Have Fun</a>
        </div>
    </main>
    <footer>
        <p>&copy; emily p. '25</p>
    </footer>
    <script src="js/main.js"></script>
</body>
</html>