<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>protect our reefs | reefly</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <img src="/static/logo.jpg" alt="Reefly Logo" class="logo">
                <li class="item"><a href="/home">home</a></li>
                <li class="item"><a href="/learn" class="active">learn</a></li>
                <li class="item"><a href="/quiz">quiz</a></li>
                <li class="item"><a href="/fun">fun</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2 class="page-heading">protecting the reef starts with you</h2>
        <p>Due to climate change and human impacts, coral reef ecosystems around the world are suffering. </p>
        <p> By learning more about the significance of these reefs and how we can protect them, we can each help advocate for the survival of these crucial ocean habitats.</p>

        <section>
            <h2 class="page-subheading">why are reefs important?</h2>
            <article>
                <h3>biodiversity and protection</h3>
                <p> Tropical coral reefs are some of the oldest and most biodiverse ecosystems on the planet, acting as nurseries, refuges, and breeding grounds for at least 25% of known marine species.</p>
                <p> Scientists are using unique plants and animals from the reef to develop new medicines.</p>
                <p> Different organisms in the coral reef help keep the water clean and clear by filtering sediment.</p>
                <p> Coral reefs help protect nearby carbon sink habitats, like seagrass meadows and mangroves.</p>
                <p> Coral reefs are also protect shorelines against waves, storms, and floods, preventing erosion and damage by acting as a buffer.</p>
                <h3 class="quote">"“What happens on one coral reef can affect another coral reef hundreds of miles away. Ocean currents carry coral larvae (babies) from one reef to another, which means that saving coral reefs relies on regional collaboration."</h3>
                <p class="quote-src">Source: https://coral.org/en/</p>
            </article>
            <article>
                <h3>communities near reefs</h3>
                <ul>
                    <li>Food Chains and Food Webs</li>
                    <li>Biomes and Ecosystems</li>
                    <li>Conservation and Biodiversity</li>
                </ul>
            </article>
            <article>
                <h3>cultural importance</h3>
                <p>Check out the following resources to learn more:</p>
                <ul>
                    <li><a href="https://www.nationalgeographic.com/environment/ecology/">National Geographic Ecology</a></li>
                    <li><a href="https://www.ecology.org/">Ecology Society of America</a></li>
                    <li><a href="https://www.worldwildlife.org/">World Wildlife Fund</a></li>
                </ul>
            </article>
        </section>

        <section>
            <h2 class="page-subheading">threats to the reef</h2>
            <article>
                <h3>ocean warming</h3>
                <p>Ecology is the study of interactions between living organisms and their environment. It encompasses various fields such as biology, environmental science, and conservation.</p>
            </article>
            <article>
                <h3>ocean acidification</h3>
                <ul>
                    <li>Food Chains and Food Webs</li>
                    <li>Biomes and Ecosystems</li>
                    <li>Conservation and Biodiversity</li>
                </ul>
            </article>
            <article>
                <h3>plastic pollution</h3>
                <p>Check out the following resources to learn more:</p>
                <ul>
                    <li><a href="https://www.nationalgeographic.com/environment/ecology/">National Geographic Ecology</a></li>
                    <li><a href="https://www.ecology.org/">Ecology Society of America</a></li>
                    <li><a href="https://www.worldwildlife.org/">World Wildlife Fund</a></li>
                </ul>
            </article>
        </section>

        <section>
            <h2 class="page-subheading">how can we help protect reefs?</h2>
            <article>
                <h3>biodiversity</h3>
                <p>Ecology is the study of interactions between living organisms and their environment. It encompasses various fields such as biology, environmental science, and conservation.</p>
            </article>
            <article>
                <h3>communities near reefs</h3>
                <ul>
                    <li>Food Chains and Food Webs</li>
                    <li>Biomes and Ecosystems</li>
                    <li>Conservation and Biodiversity</li>
                </ul>
            </article>
            <article>
                <h3>cultural importance</h3>
                <p>Check out the following resources to learn more:</p>
                <ul>
                    <li><a href="https://www.nationalgeographic.com/environment/ecology/">National Geographic Ecology</a></li>
                    <li><a href="https://www.ecology.org/">Ecology Society of America</a></li>
                    <li><a href="https://www.worldwildlife.org/">World Wildlife Fund</a></li>
                </ul>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy; emily p. '25</p>
    </footer>
</body>
</html>